html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #000000;


}


// $mobile: 479.98 + px;
$tablet: 767.98 + px;
$pc: 1199.98 + px;
$secondBgColor: #DAECFF;
$bg-color-header-footer: #67AEFC;

button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;

    &:active {
        background-color: transparent;
    }
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;


    @media screen and (min-width: $tablet) {
        width: 738px;
        padding-left: 15px;
        padding-right: 15px;

    }

    @media screen and (min-width: $pc) {
        width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
    }

    // @media screen and (min-width: $bigpc) {
    //     width: 1920px;
    //     padding-left: 375px;
    //     padding-right: 375px;
    // }
}

.button_one {
    width: 270px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.75;
    text-transform: uppercase;
    background-color: #75E169;
    border-radius: 5px;
    cursor: pointer;

    &:hover,
    &:focus {
        outline: 2px solid #67AEFC
    }

    &:active {
        background-color: #67AEFC;
    }
}

.noScroll {
    overflow-y: hidden;
}