.mobile-menu {
    width: 375px;
    height: 328px;
    background-color: $bg-color-header-footer;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    transform: translateX(-150%);
    transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);

    // display: none;

    &_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 42px;
    }

    &_item {
        padding-bottom: 2px;
        padding-top: 2px;

        .mobile-menu_link:hover {
            border-bottom: 2px #ffffff solid;
        }

        &:not(:last-child) {
            margin-bottom: 41px;
        }
    }


    &_link {
        text-decoration: none;
        font-weight: 800;
        font-size: 17px;
        line-height: 1.59;
        text-transform: uppercase;
        color: #FFFFFF;

    }
}

.translateY0 {
    display: block;
    transform: translateX(0);
    transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.noScroll {
    overflow-y: hidden;
}