.moreinfo {

    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    position: relative;

    @media screen and (min-width: $tablet) {
        padding: 40px 0;
    }

    @media screen and (min-width: $pc) {
        padding-top: 214px;
        padding-bottom: 180px;
        text-align: unset;
    }

    &_buble {
        position: absolute;
        top: -15px;
        right: 20px;
        height: 38px;
        width: 38px;

        @media screen and (min-width: $tablet) {
            height: 50px;
            width: 50px;
        }

        @media screen and (min-width: $pc) {
            top: -100px;
            right: 50px;
            height: 108px;
            width: 108px;
        }

        @media screen and (min-width: 1920px) {
            right: 122px;
            top: -244px;
        }
    }

    &_buble--blue {
        display: none;

        @media screen and (min-width: $pc) {
            display: block;
            position: absolute;
            left: 153px;
            top: 150px;

        }

    }

    &_title {
        font-weight: 800;
        font-size: 23px;
        line-height: 1.5;
        color: #111111;
        margin-bottom: 32.57px;

        @media screen and (min-width: $pc) {
            font-weight: 800;
            font-size: 32px;
            line-height: 1.25;
        }
    }

    &_image {
        margin-bottom: 29px;

        @media screen and (min-width: $pc) {
            margin: unset;
            position: absolute;
            top: 137px;
            right: 0;
        }

        @media screen and (min-width: 1500px) {
            right: 0;
        }

        @media screen and (min-width: 1940px) {

            right: 134px;
        }
    }

    &_text {
        text-align: left;
        font-weight: 400;
        font-size: 17px;
        line-height: 1.75;
        word-wrap: break-word;
        color: #111111;
        margin-bottom: 20px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 40px;
        }

        @media screen and (min-width: $pc) {
            width: 670px;
            font-size: 18px;
        }
    }

    &_button {
        display: inline;
        margin-bottom: 50px;
    }
}