.steps {

    padding-top: 42px;
    padding-bottom: 45px;
    position: relative;

    @media screen and (min-width: $pc) {
        padding-top: 123px;
        padding-bottom: 123px;
        overflow: hidden;
    }

    &_title {
        font-size: 23px;
        font-weight: 800;
        line-height: 1.5;
        margin-bottom: 11px;
        text-align: center;

        @media screen and (min-width: $tablet) {
            margin-bottom: 25px;
        }

        @media screen and (min-width: $pc) {
            margin-bottom: 84px;
        }
    }

    &_thumb {
        width: 335px;
        height: 615px;
        overflow: hidden;
        outline: 2px solid #67AEFC;
        border-radius: 15px;
        margin-bottom: 25px;

        @media screen and (min-width: $tablet) {
            width: 100%;
            height: 615px;

        }

        @media screen and (min-width: $pc) {
            outline: transparent;
            border-radius: unset;
            width: 672px;
            height: 389px;
            overflow: visible;
        }


    }

    &_list {
        display: flex;
        margin: 0;
        padding: 0;
        transition: all 2500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }


    &_item:not(:last-child) {
        margin-right: 36px;
    }

    &_card {
        width: 335px;
        height: 615px;
        padding: 27px 33px;
        font-size: 20px;
        font-weight: 800;
        text-align: center;

        @media screen and (min-width: $pc) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 672px;
            height: 389px;
            outline: 2px solid #67AEFC;
            border-radius: 15px;
            margin-bottom: 25px;
            padding: 60px;
            padding-top: 85px;
            padding-left: 70px;
            padding-right: 33px;
            padding-bottom: 63px;
        }

        &--title {
            font-weight: 800;
            font-size: 17px;
            line-height: 1.58;
            text-align: left;
            text-transform: uppercase;

            @media screen and (min-width: $pc) {
                margin-bottom: 21px;
            }
        }

        &--text {
            font-weight: 400;
            font-size: 17px;
            line-height: 1.75;
            text-align: left;
            margin-bottom: 20px;
        }


    }

    &_controls {
        background-color: transparent;
        display: flex;
        justify-content: center;
        gap: 107px;


    }

}

.steps_buble {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 10px;
    left: -10px;

    @media screen and (min-width: $pc) {
        top: 129px;
        left: 187px;
    }
}

.steps_blanked {
    display: none;

    @media screen and (min-width: $pc) {
        display: block;
        position: absolute;
        bottom: 47px;
        right: 186px;
    }
}

.slide-right {
    transform: translateX(-371px);

}

.slide-left {
    transform: translateX(371px);

}